<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- stylesheet link here -->
    <!-- font links here -->
    <link href="../../static/css/main.css" rel="stylesheet" />
    <link href="../../static/css/product_list.css" rel="stylesheet" />
    <title>Wags to Wings</title>
  </head>
  <body>
    <nav>
    <div class="navbar">
    <div class="logo">
    <h1>Wags to wings</h1>
    </div>
      <div class="chat-trigger">
        <a href="#">
          <p>Live Chat</p>
        </a>
      </div>
      <div class="pet-menu dropdown">
        <a href="#">
          <p>Search by pet</p>
        </a>
        <!-- chevron icon -->
        <!-- dropdown linker here -->
      </div>
      <div class="brand-menu dropdown">
        <a href="#">
          <p>Search by brand</p>
        </a>
        <!-- same chevron -->
        <!-- This is not as important as the first -->
      </div>
      <div class="pharma-menu dropdown">
        <a href="#">
          <p>Pharmacy</p>
        </a>
        <!-- same chevron -->
        <!-- This is not as important as the first -->
      </div>
      <div class="sale-menu dropdown">
        <a href="#">
          <p>Sale</p>
        </a>
        <!-- same chevron -->
        <!-- This is not as important as the first -->
      </div>
    </nav>
    </nav>
    {% block content %} {% endblock %}
    <footer>
      <p>Some stuff down here</p>
      <!-- Two ribbons: one green and one in the same shade as nav bar -->
    </footer>
  </body>
</html>
