
{% block content %}

<div class="carousel carousel-slider">
  <!-- <a class="carousel-item" href="#one!"><img src="../../static/images/carousel_dog_20_7.jpg"></a>
  <a class="carousel-item" href="#two!"><img src="../../static/images/carousel_cat_20_7.jpg"></a>
  <a class="carousel-item" href="#three!"><img src="../../static/images/carousel_parrot_20_7.jpg"></a> -->

  <div class="carousel-item dog-carousel-item" href="#one!">
    <p class="carousel-banner-text-left">Black Friday Deals!</p>
    <p class="carousel-support-text-right">Up to 70% off items that your pet will paws-itively love</p>
    <a href="#" class="carousel-button-red">Shop Now</a>
  </div>

</div>

{% endblock %}