
{% block content %}

<div class="carousel carousel-slider">
  <!-- <a class="carousel-item" href="#one!"><img src="../../static/images/carousel_dog_20_7.jpg"></a>
  <a class="carousel-item" href="#two!"><img src="../../static/images/carousel_cat_20_7.jpg"></a>
  <a class="carousel-item" href="#three!"><img src="../../static/images/carousel_parrot_20_7.jpg"></a> -->
  
  <!-- This is the dog pannel -->
  <div class="carousel-item dog-carousel-item" href="#one!">
    <p class="carousel-banner-text-left">Black Friday Deals!</p>
    <p class="carousel-support-text-right">Up to 70% off items that your pet will paws-itively love</p>
    <a href="#" class="carousel-button-red-right">Shop Now</a>
  </div>

  <!-- this is the cat panel -->
  <div class="carousel-item cat-carousel-item" href="#one!">
    <p class="carousel-banner-text-left">Right Meow Cat Food</p>
    <p class="carousel-support-text-left">Now in stock!</p>
    <a href="#" class="carousel-button-red-left">Shop Now</a>
  </div>

  <!-- this is the parrot panel -->
  <div class="carousel-item parrot-carousel-item" href="#one!">
    <p class="carousel-banner-text-left">NEW<br />Download our<br />PetMed App</p>
    <a href="#" class="carousel-button-red-left carousel-download-button">Download</a>
    <p class="carousel-support-text-bottom-right">Polly want a pill?</p>
  </div>

</div>

{% endblock %}