{% extends 'wags_to_wings/base.html' %} {% block content %}
<h1>Shopping cart</h1>
{% endblock %}

{% comment %} 

shopping cart CARD 

item 
picture 
item name 

quantity 
minus button 
number of products 
plus button 

price 
price dollar amount 

Suscribe card 
title - Suscribe and save 10% on every order! 
sign me up check box
receive shipments:
dropdown menus - monthly
no thank you check box 

Shipping Information Card 

form 
full name input 
street address input
city input
zip code input
country input 

Billing Information 
card number input 
carhdholder input
dd/yy drop down menu 
CVV input 
checkbox billing address same as shipping address 
visa / credit card box 

button 
complete my order 


{% endcomment %}
