{% extends 'wags_to_wings/base.html' %} {% block content %}

 <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Shopping Cart</span>
          <p>item / IMG / item name </p>
          <p>quantity /minus button / number of products /plus button</p>
          <p>price dollar amount  </p>
        </div>
        <div class="card-footer">
          <p>total</p>
        </div>
      </div>
    </div>
  </div>


 <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Subscribe and save 10% on every order</span>
          <p>Sign me up</p>
          <p>Recieve shipments: </p>
          <p>No, thank you </p>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
        <div class="card-title">Shipping Information</div>
          <input placeholder="Full Name" id="full_name" type="text" class="validate">
          <label for="full_name"></label>
        </div>
        <div class="input-field col s6">
          <input placeholder="Street Address" id="street_address" type="text" class="validate">
          <label for="street_address"></label>
        </div>
      </div>
      <div class="row">
       <div class="input-field col s6">
          <input placeholder="City" id="city" type="text" class="validate">
          <label for="city"></label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Zip Code" id="zip" type="text" class="validate">
          <label for="zip"></label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Country" id="country" type="text" class="validate">
          <label for="country"></label>
        </div>
      </div>
    </form>
    </div>


 <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
            <div class="card-title">Billing Information</div>
          <input placeholder="Card Number" id="card_number" type="text" class="validate">
          <label for="card_number"></label>
        </div>
        <div class="input-field col s6">
          <input placeholder="Cardholder Name" id="cardholder_name" type="text" class="validate">
          <label for="cardholder_name"></label>
        </div>
      </div>
      <div class="row">
       <div class="input-field col s6">
          <input placeholder="DD / YY" id="dd_yy" type="text" class="validate">
          <label for="dd_yy"></label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="CVV" id="zip" type="text" class="validate">
          <label for="cvv"></label>
        </div>
      </div>
      </div>
    </form>


{% endblock %}


