{% extends 'wags_to_wings/base.html' %} {% block content %}

<section class="product-container">

    <div class="product-container-title">
        <h4>FOOD & TREATS</h4>
        <a href="#">SEE ALL</a>
    </div>

    <div class="product-cards-container">
        <div class="product-card">
            <img src="https://imgplaceholder.com/420x320/ff7f7f/333333/fa-image">
            <div>       
                <p class="product-name">Product Title</p>
                <p class="price">Price</p>
            </div> 

            <button>Add To Cart</button>
        </div>

        <div class="product-card">
            <img src="https://imgplaceholder.com/420x320/ff7f7f/333333/fa-image">
            <div> 
                <p class="product-name">Product Title</p>
                <p class="price">Price</p>
            </div>
            <button>Add To Cart</button>
        </div>
        <div class="product-card">
            <img src="https://imgplaceholder.com/420x320/ff7f7f/333333/fa-image">
            <div> 
                <p class="product-name">Product Title</p>
                <p class="price">Price</p>
            </div> 

            <button>Add To Cart</button>
        </div>


    <div>


</div>

</section>

<section class="product-container">

    <div class="product-container-title">
        <h4>TOYS THEY'LL LOVE</h4>
        <a href="#">SEE ALL</a>
    </div>

    <div class="product-cards-container">
        <div class="product-card">
            <img src="https://imgplaceholder.com/420x320/ff7f7f/333333/fa-image">
            <div>       
                <p class="product-name">Product Title</p>
                <p class="price">Price</p>
            </div> 

            <button>Add To Cart</button>
        </div>

        <div class="product-card">
            <img src="https://imgplaceholder.com/420x320/ff7f7f/333333/fa-image">
            <div> 
                <p class="product-name">Product Title</p>
                <p class="price">Price</p>
            </div>
            <button>Add To Cart</button>
        </div>
        <div class="product-card">
            <img src="https://imgplaceholder.com/420x320/ff7f7f/333333/fa-image">
            <div> 
                <p class="product-name">Product Title</p>
                <p class="price">Price</p>
            </div> 

            <button>Add To Cart</button>
        </div>
<div class="product-card">
            <img src="https://imgplaceholder.com/420x320/ff7f7f/333333/fa-image">
            <div>       
                <p class="product-name">Product Title</p>
                <p class="price">Price</p>
            </div> 

            <button>Add To Cart</button>
        </div>

        <div class="product-card">
            <img src="https://imgplaceholder.com/420x320/ff7f7f/333333/fa-image">
            <div> 
                <p class="product-name">Product Title</p>
                <p class="price">Price</p>
            </div>
            <button>Add To Cart</button>
        </div>
        <div class="product-card">
            <img src="https://imgplaceholder.com/420x320/ff7f7f/333333/fa-image">
            <div> 
                <p class="product-name">Product Title</p>
                <p class="price">Price</p>
            </div> 

            <button>Add To Cart</button>
        </div>


    <div>


</div>

</section>


{% endblock %}
