$darkblue: #234a5d;
$lightblue: #c9ddff;
$unsureifgreen: #f3faef;
$brightred: #fe5f55;

body {
<<<<<<< HEAD
  background-color: white;
=======
	background-color: $darkblue;
>>>>>>> d8bdc479c20eadf818fe54c326b3ce1e5aa76da6
}
