@import url("https://fonts.googleapis.com/css?family=Nunito:800");

$darkblue: #234a5d;
$lightblue: #c9ddff;
$unsureifgreen: #f3faef;
$brightred: #fe5f55;
$mainfont: "Nunito", sans-serif;
$linkblue: rgb(37, 152, 208);
$lightgray: rgb(244, 242, 242);

.product-container {
  background-color: white;
  margin: 20px 10px;
}

.product-container-title {
  display: flex;
  align-items: center;
  h4 {
    color: $darkblue;
    font-family: $mainfont;
    font-weight: bolder;
    margin-right: 20px;
  }

  a {
    font-family: $mainfont;
    color: $linkblue;
    font-weight: 700;
  }
}

.product-cards-container {
  display: flex;
  direction: row;
  justify-content: space-evenly;
}

.product-card {
  background: $lightgray;
  border-radius: 10%;
  padding: 20px;
  border: 0.04rem solid rgb(222, 220, 222);

  img {
    width: 200px;
    height: 150px;
    margin: 5px;
    border-radius: 10%;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  p {
    font-family: $mainfont;
    font-weight: 700;
    font-size: 18px;
  }

  button {
    background-color: $brightred;
    font-family: $mainfont;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0 15%;
    color: white;
    width: 70%;
    border-radius: 20px;
    border: 0.04rem solid rgb(222, 220, 222);
  }

  button:active {
    outline: none;
    background: #d45149;
  }

  button:focus {
    outline: none;
  }
}

.price {
  color: $brightred;
}

.product-name {
  color: $darkblue;
}
